  
  .mainContent {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
  }
  
  .heroHighlight {
    flex: 0.25;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .heroContainer {
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    margin-right: 20px;
  }
  
  .selectedHero {
    object-fit: contain;
    max-width: 500px;
    max-height: 300px;
  }
  
  .heroDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0.75;
  }
  
  .title {
    font-size: 76px;
    font-weight: 800;
  }
  
  .itemNumber {
    color: #a1a5b0;
    font-size: 72px;
    align-self: center;
  }
  
  .owner {
    display: flex;
    margin: 10px 0;
    height: 50px;
  }
  
  .owner > div {
    margin: 0 5px;
  }
  
  .ownerImageContainer {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    object-fit: contain;
  }
  
  .ownerImageContainer > img {
    height: 100%;
    width: 100%;
  }
  
  .ownerDetails {
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  .ownerNameAndHandle {
    flex: 1;
    color: #fff;
  }
  .ownerHandle {
    color: #00ebfe;
    align-items: center;
    justify-content: center;
  }
  
  .ownerLink {
    padding: 12px;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    border: 1px solid #fff;
    margin: 0 0 0 10px;
  }

  .ownerLink:hover{
    cursor: crosshair;
  }
  
  .ownerLink > img {
    cursor: crosshair;
    height: 100%;
    width: 100%;
  }
  /* .discord{
    height: 90% !important;
  } */

  @media screen and (max-width:1050px) {
      .title{
          font-size: 50px;
      }
      .ownerDetails{
          flex-wrap: wrap;
        }
        .ownerLink{
            width: 15px;
            padding: 5px;
            display: flex;
            height: 15px;
        }
  }
  @media screen and (max-width:750px) {
      .ownerNameAndHandle{
          font-size: 15px;
        }
    }
    @media screen and (max-width:428px) {
        .title{
            font-size: 35px;
        }
        .itemNumber{
            font-size: 29px;
        }
        .selectedHero{
            max-height: 200px;
        }
        .ownerNameAndHandle{
            font-size: 10px;
        }
        .ownerImageContainer{
            width: 30px;
            height: 30px;
        }
        .ownerLink{
            margin-top: 5%;
        }
        
    }
    @media screen and (max-width:300px) {
        .selectedHero{
            max-height: 180px;
        }
        .ownerNameAndHandle{
            font-size: 8.5px;
        }
        .punkLogo {
            width: 57px;
        }

  }